body {
    background-image: url('../images/concrete-texture.png');
    border: 0;
    margin: 0;
    padding: 0;
}

.all{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.inicio {
    height: 70px;
    line-height: 70px;
    background: white;
    border-bottom: 3px solid lightgray;
}

main {
    width: 960px;
    margin: 0 auto;
}

.headcontainer {
    width: 960px;
    margin: 0 auto;
}

.headstone {
    float: left;
    color: white;
    padding: 0 20px 0 20px;
    margin: 0;
    background-color: black;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 85px;
}

nav li a {
    text-decoration: none;
    color: black;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
  }

section {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    border: 1px solid #dddddd;
}

h1 {
    color: black;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.h1abt {
    border-bottom: solid 2px #dddddd;
    padding-bottom: 25px;
}

.selfie {
    height: 200px;
    width: 250px;
    float: left;
    margin: 0 20px 10px 0;
}

.pgabout {
    line-height: 1.8;
    margin-top: -5px;
}

.inlink {
     text-decoration: none;
     color: #777777;
}
footer {
    height: 55px;
    text-align: center;
    background: #666666;
    color: #ffffff;
    border-top: 5px solid black;
}

.copyrt {
    position: relative;
    bottom: -25px;
    font-size: 75%;
}

.foliotainer {
    position: relative;
} 

.proj {
    height: 200px;
    width: 250px;
    display: inline-block;
    position: relative;    
}

.projlnk {
    height: 200px;
    width: 250px;
    /* margin: 0 20px 10px 0; */
}

.projlabel {
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    color: #ffffff;
    background-color: black;
    position: absolute;
    bottom: 10px;
    line-height: 40px;
    left: 0;
    right: 0;
    margin: 0;   
}

.projlabel a {
    color: #ffffff;
    text-decoration: none;
}

input[type=text],
input[type=email],
input[type=textarea],
input[type=telefone]
textarea {
    color: #777777;
    width: 100%;
    border: 3px solid black;
}

input[type=button], 
input[type=submit], 
input[type=reset] {
    background-color: white;
    color: black;
    padding: 10px;
    align-items: center;
    /* position: absolute */
}